// Colors
$bg-yellow:hsl(47, 88%, 63%);
$white:hsl(0, 0%, 100%);
$grey:hsl(0, 0%, 50%);
$black:hsl(0, 0%, 7%);
// Fonts
  @import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    transition: .3s all ease;
    font-family:'Figtree';
}
#container{
    min-height: 100vh;
    display: grid;
    place-content: center;
    background: $bg-yellow;
    .card{
        border: 2px solid black;
        border-radius: 25px;
        background: $white;
        padding: 1.5em;
        width: min-content;
        display: grid;
        box-shadow: 8px 8px 0 black;
        &:hover{
            box-shadow: 15px 15px 0 black;
            .title {
                h2{
                    color: $bg-yellow;
                    cursor:pointer;
                }
            }
        }
        >*{
            margin-bottom: 2em;
        }
        header{
            svg{
                border-radius: 20px;
            }
        }
        main{
            margin-bottom: 0;
            >*{
                margin-bottom: 1em;
            }
            .tags{
                span{
                    color: white;
                    background: $bg-yellow;
                    padding: 4px;
                    border-radius: 6px;
                }
            }
            .publish_date{
                // unused
            }
            .title{
                h2{
                    font-weight: bolder;
                }
            }
            .description{
                p{
                    color: $grey;
                }
            }
        }
        footer{
            display: flex;
            align-items: center;
            gap: 20px;
            img{
                width: 40px;
            }
            span{
                font-weight: bold;
            }
            margin-bottom: 0;
        }
    }
}